<%
  function compiler(test) {
    var name = test.options.moduleName ? "'"+test.options.moduleName+"'" : null;
    return "var compiler = new Compiler(" +
      JSON.stringify(test.source) +
      ", "+name+", " +
      JSON.stringify(test.options) +
    ");";
  }
%>

var Compiler = require("../../dist/es6-module-transpiler").Compiler;

suite("<%= mod.name %>");

<% _.each(mod.tests, function(test) { %>
test("<%= test.name %>", function() {
  <% if (test.invalid) { %>
try {
  <%= compiler(test) %>
  compiler.toAMD();
  ok(false, "should have raised an error");
} catch (e) {
  ok(e, e ? e.message : "expects an error");
}
  <% } else { %>
  <%= compiler(test) %>
equal(compiler.to<%= test.typeName %>(), <%= JSON.stringify(test.expected) %>);
  <% } %>
});
<% }); %>
